{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>todo</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6">
<form method="post" class="p-3 shadow" >
    {% csrf_token %}
    <div class="form-group">
         <input type="text" class="form-control" name="name" placeholder="task name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="priority" placeholder="enter priority number">
    </div>
    <div class="form-group">
        <input type="date" class="form-control" name="date" >
    </div>


    <input type="submit" class="btn btn-success">

</form>
        </div>



    </div>
    </div>





{% endblock %}